*{
    padding: 0%;
    margin: 0%;
}
.grid-container
{ display: grid;
 grid-template-columns: auto auto;
  gap: 30px;
}
#navbar 
{
    display: flex;
    background-color:lightgrey;
    height: 700px;
    width: 100%;
    border: 5px solid lightgray;
    position: sticky;
    top: 0;
    
}
/* li 
{
    position: sticky;
    top: 0;
} */
#navbar ul li{
    line-height: 15px;
    padding: 20px;
   margin-top: 20px;
   margin-bottom: 20px;

}
li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    font-family: sans-serif;
    color: black;
   
    
    
}
ul li,a{
    background-color: darkblue;
    text-align: center;
   
}

#main-header p
{
  
   color: black;
   font-size: 20px;
   font-style: italic;
   background-color: lightskyblue;
   padding: 30px;
   align-items: center;
   
}
a:hover{
   
    background-color: lightslategray; 
}
.center
{
    display: block;
    margin-left: 50px;
    margin-top: 20px;
}
h2{
    color: darkslateblue;
    text-align: center;
    margin-top: 20px;
    align-items: center;
}
footer {
    text-align: center;
    padding: 10px;
    background-color:linen;
    color: black;
  }

