


*
{
    margin: 0%;
    font-family: sans-serif;   
}
/* .navbar
{
    background-color: black;
    padding: 20px;
    position: sticky;
    top: 0;
}
 .navbar ul 
{
   display: flex;
   justify-content: space-around;
   list-style: none;
}
.navbar a
{ 
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: 500;
    font-style: normal;   
}  */
.navbar
{
background-color: rgb(235, 182, 182);
position: sticky;

}
.navbar ul{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.navbar li {
   list-style: none;

}
.navbar a{
    text-decoration: none;
}
 /* .container
{
   display: flex;
   gap: 22px;
   margin: 10px 10px;
   line-height: 25px;
   word-spacing: 2px;
   
}
.
.container img{
   width: 350px;  

   float: left;
   margin-right: 15px;
   
} 
 .container p
{
   display: flex;
  text-align: left; 
}  */

.container img
{
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
    margin-top: 5px;
    display: flex;
    width: 350px;

}
p{
    line-height: 25px;
    word-spacing: 2px;
    padding-top: 5px;
}


#Qualification
{
  display: flex;
  padding-top: 50px; 
  padding-bottom: 40px;
} 
table{
    width: 100%;
    border-collapse: collapse; 
    margin-left: 15px;
    margin-right: 15px;
}
td,th,tr{
    border: 2px solid black;
    padding: 8px ;
    text-align: center;
}

  
body
{
    background-color: darkslategrey;
}
     /* media query */

@media screen and (min-width: 480px) 
{
  body{
    background-color: lightgreen;
  }
}

@media  screen and (max-width: 500px) 
{
  .navbar ul
  {
    display: inline-block;
    line-height: 20px;
  }
}
 @media screen and (orientation: portrait )

{
   body{
    background-color: blue;
    
   }
}
@media screen and (orientation: landscape )

{
   body{
    background-color: white;
    
   }
}
@media screen and (orientation: landscape)
{
   table
   {
      width: 100px;
   }
}